<ion-view style="" class=" " id="page11" title="موقعنا ">
     <ion-content has-header="true" has-tabs="true" padding="true">
    
	 <div style="" id="map" data-tap-disabled="true"></div>
	 
	    </ion-content>
	   <ion-footer-bar class="bar-stable">
	      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">  موقعك</a> <label class="item item-input item-select" style="width:80%"  >
    <div class="input-label" >
اسهل طريق الينا 
    </div>
   <select ng-model="mySelect" id="mySelect1" ng-change="showSelectValue()">
    <option value="1">موقعنا</option>
    
   
</select>

</label>
    </ion-footer-bar>
</ion-view>